<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Books Management Web Application</display-name>

	<context-param>
		<param-name>jdbcURL</param-name>
		<param-value>jdbc:mysql://127.0.0.1:3306/PerformanceStudents?useUnicode=true&amp;serverTimezone=UTC&amp;useSSL=false</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUsername</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>1234</param-value>
	</context-param>



	<servlet>
		<servlet-name>GroupMListServlet</servlet-name>
		<servlet-class>net.project.GroupMListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupMListServlet</servlet-name>
		<url-pattern>/group</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GroupMEditServlet</servlet-name>
		<servlet-class>net.project.GroupMEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupMEditServlet</servlet-name>
		<url-pattern>/groupEdit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GroupMUpdateServlet</servlet-name>
		<servlet-class>net.project.GroupMUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupMUpdateServlet</servlet-name>
		<url-pattern>/groupUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GroupMDeleteServlet</servlet-name>
		<servlet-class>net.project.GroupMDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupMDeleteServlet</servlet-name>
		<url-pattern>/groupDelete</url-pattern>
	</servlet-mapping>











	<servlet>
		<servlet-name>StudentMListServlet</servlet-name>
		<servlet-class>net.project.StudentMListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentMListServlet</servlet-name>
		<url-pattern>/student</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StudentMEditServlet</servlet-name>
		<servlet-class>net.project.StudentMEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentMEditServlet</servlet-name>
		<url-pattern>/studentEdit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StudentMUpdateServlet</servlet-name>
		<servlet-class>net.project.StudentMUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentMUpdateServlet</servlet-name>
		<url-pattern>/studentUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StudentMDeleteServlet</servlet-name>
		<servlet-class>net.project.StudentMDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentMDeleteServlet</servlet-name>
		<url-pattern>/studentDelete</url-pattern>
	</servlet-mapping>












	<servlet>
		<servlet-name>TeacherMListServlet</servlet-name>
		<servlet-class>net.project.TeacherMListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherMListServlet</servlet-name>
		<url-pattern>/teacher</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TeacherMEditServlet</servlet-name>
		<servlet-class>net.project.TeacherMEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherMEditServlet</servlet-name>
		<url-pattern>/teacherEdit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TeacherMUpdateServlet</servlet-name>
		<servlet-class>net.project.TeacherMUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherMUpdateServlet</servlet-name>
		<url-pattern>/teacherUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TeacherMDeleteServlet</servlet-name>
		<servlet-class>net.project.TeacherMDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherMDeleteServlet</servlet-name>
		<url-pattern>/teacherDelete</url-pattern>
	</servlet-mapping>











	<servlet>
		<servlet-name>SubjectMListServlet</servlet-name>
		<servlet-class>net.project.SubjectMListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectMListServlet</servlet-name>
		<url-pattern>/subject</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubjectMEditServlet</servlet-name>
		<servlet-class>net.project.SubjectMEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectMEditServlet</servlet-name>
		<url-pattern>/subjectEdit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubjectMUpdateServlet</servlet-name>
		<servlet-class>net.project.SubjectMUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectMUpdateServlet</servlet-name>
		<url-pattern>/subjectUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubjectMDeleteServlet</servlet-name>
		<servlet-class>net.project.SubjectMDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubjectMDeleteServlet</servlet-name>
		<url-pattern>/subjectDelete</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>ScoreMListServlet</servlet-name>
		<servlet-class>net.project.ScoreMListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreMListServlet</servlet-name>
		<url-pattern>/score</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScoreMEditServlet</servlet-name>
		<servlet-class>net.project.ScoreMEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreMEditServlet</servlet-name>
		<url-pattern>/scoreEdit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScoreMUpdateServlet</servlet-name>
		<servlet-class>net.project.ScoreMUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreMUpdateServlet</servlet-name>
		<url-pattern>/scoreUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScoreMDeleteServlet</servlet-name>
		<servlet-class>net.project.ScoreMDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreMDeleteServlet</servlet-name>
		<url-pattern>/scoreDelete</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CharacterSetFilter</filter-name>
		<filter-class>net.project.CharacterSetFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CharacterSetFilter</filter-name>
		<url-pattern>/** </url-pattern>
	</filter-mapping>


	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>

</web-app>